<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <header>
    </header>
    <div class="mobile-container">

        <div class="topnav">

            <a href="#home" class="active">Best Books!</a>
            <h3 id="searchFor">Saved Books</h3>
            <a href="javascript:void(0);" class="icon" onclick="showMenu()">
                <i class="fa fa-bars"></i>
            </a>
            <div id="showMenu">
                <a href="/">Home</a>
                <a href="/searches/new">Search By Title Or Author</a>

            </div>
            <div id="data">
                <p>
                    <img src="<%= resultsKey.img %>">
                </p>
                <p>
                    <%= resultsKey.title %>
                </p>
                <p>
                    <%= resultsKey.authors %>
                </p>
                <p>
                    <%= resultsKey.description %>
                </p>
                <p>
                    <%= resultsKey.isbn %>
                </p>
                <button type="submit">UPDATE</button>
                <br>
                <br>
                <button type="submit">DELETE</button>

            </div>

        </div>
    </div>
    <!-- <script>
        function myFunction() {
            var x = document.getElementById("ankerDiv");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/app.js"></script>
</body>

</html>