<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <header>

    </header>
    <main>
        <div class="mobile-container">

            <div class="topnav">

                <a href="#home" class="active">Best Books!</a>
                <h3 id="searchForResult">Search result</h3>
                <a href="javascript:void(0);" class="icon" onclick="showMenu()">
                    <i class="fa fa-bars"></i>
                </a>
                <div id="showMenu">
                    <a href="/">Home</a>
                    <a href="/searches/new">Search By Title Or Author</a>
                </div>

                <div id="data">
                    <%  savedBookKey.forEach(item=>{ %>
                        <img src="<%= item.img %>">
                        <h3>
                            <%= item.title %>
                        </h3>
                        <p>
                            <%= item.authors %>
                        </p>
                        <p>
                            <%= item.description %>
                        </p>

                        <button class="myBut">Select This Book</button>
                        <form class="mybutclass" action="/showAddForm" method="post">
                            <input type="text" name="img" value="<%= item.img %>">
                            <br>
                            <input type="text" name="title" value="<%= item.title %>">
                            <br>
                            <input type="text" name="authors" value="<%= item.authors %>">
                            <br>
                            <input type="text" name="isbn" value="<%= item.isbn %>">
                            <br>
                            <textarea name="description" id="" cols="30" rows="10">
                                    <%= item.description %>
                                </textarea>
                            <br>
                            <label for="">Enter a BookShelf Number</label>
                            <br>
                            <input type="text">
                            <br>
                            <button type="submit">Add To DataBase</button>
                        </form>

                        <hr>

                        <%     }); %>
                </div>



            </div>
        </div>

    </main>
    <footer>

    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/app.js"></script>
</body>

</html>